name: release
on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  make-release:
    runs-on: ubuntu-latest

    steps:
      - name: setup java 17
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 17
          cache: "gradle"

      - uses: actions/checkout@v3

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: build
        run: ./gradlew build

      - name: create release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: build/libs/*.jar

      - name: publish to modrinth
        run: ./gradlew modrinth
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
